nav {
  background: #333;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;

  .navbar__menu {
    display: flex;
    color: #fff;
    list-style-type: none;
  }

  .navbar__item a {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;

    &:hover {
      color: green;
    }
  }
}
